<nav class="navbar" *ngIf="currentUser">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aria-expanded="false"></a>
      <a href="javascript:void(0);" class="bars"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <!--  -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn bg-light-blue waves-effect" (click)="logout()">  <!--  -->
            <i class="material-icons">lock</i>
            <span>Se déconnecter</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
