<div class="login-page ls-closed">
  <div class="login-box">
      <div class="logo">
      </div>
      <div class="card">
          <div class="body">
              <form name="loginForm" role="form" [formGroup]="loginForm" (ngSubmit)="login()">
                  <div class="msg font-bold col-black">Connecter à votre session</div>
                  <p class="msg font-italic col-pink centre">{{errorMsg}}</p>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">person</i>
                      </span>
                      <div class="form-line">
                          <input type="text" class="form-control" formControlName="username" name="username" placeholder="Nom d'utilisateur" required="" autofocus="" aria-required="true">
                      </div>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">lock</i>
                      </span>
                      <div class="form-line">
                          <input type="password" class="form-control" formControlName="password" name="password" placeholder="Mot de pass" required="" aria-required="true">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-4">
                          <button class="btn btn-block bg-pink waves-effect" type="submit">Connecter</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
